<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <style type="text/css">
            body {
                font-size: 10pt;
                font-family: Verdana, Arial, "Sans serif";
            }
            .err-field {
                font-size: 0.7em;
                color: red;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="vendors/jrac/jrac/style.jrac.css">
        <script type="text/javascript" src="vendors/jrac/jrac/jquery.jrac.js"></script>
    </head>
    <body>
        <% content%>
    </body>
</html>